.player-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0rem;
}

.player-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #1e1e2f;
  padding-block: 1rem;
  border-radius: .5rem;
  width: 100%;
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  // background-color: gold;
}

.innerbox{
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.poster {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 10px;
}

.title {
  font-size: 18px;
}

.mood {
  font-size: 14px;
  color: #aaa;
}


.player-empty {
  text-align: center;
  margin-top: 2rem;
  font-size: 18px;
  color: #888;
}