.button {
  padding-inline: 1rem;
  padding-block: 0.8rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;

  &.primary-button{
    background-color: rgb(212, 27, 27);
    color: whitesmoke;
  }
  &:active{
    scale: 0.95;
  }
}
