.nav-bar{
    width: 330px;
    padding-inline: 1rem;
    padding-block: .8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
        font-size: 1.4rem;
        color: whitesmoke;
    }

}